@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-chart {
    height: 400vh;
    position: relative;

    svg {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow: visible;
        height: 100vh; // display: block;
        .country-label {
            fill: #333; // font-weight: bld
            @include fs-textSans(1);
            @include mq(tablet) {
                @include fs-textSans(2);
            }
        }
    }

    .y-axis {
        opacity: 0.3;
        line {
            stroke-dasharray: 1, 1;
        }
    }

    .x-axis {
        .domain {
            stroke: #bdbdbd;
        }

        .tick {
            line {
                display: none;
            }
            text {
                fill: #767676;
                transform: translateY(0);
            }
        }
    }

    .chart-text {
        position: absolute;
        z-index: 400;
        width: 100%;
        top: 60px;

        .text-wrapper {
            // margin-bottom: 60vh;
            height: 100vh;
            position: relative;
            @include mq(tablet) {
                width: 620px;
            }
            @include mq(leftCol) {
                margin-left: 160px;
            }
            @include mq(wide) {
                margin-left: 240px;
            }

            p {
                margin-left: 0 !important;
            }

            position: relative;
            width: 100%;

            &:last-of-type {
                margin-top: -100px;
            }
        }

        p {
            display: inline;
            background-color: rgba(230, 230, 230, 0.95);
            color: #333;
            padding: 5px 5px 5px 5px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            @include fs-headline(2);
            line-height: 28px;
            @include mq(tablet) {
                padding: 5px 5px 5px 5px;
                @include fs-headline(3);
                line-height: 32px; // padding-bottom: 24px;
            }

            span {
                color: #69d1ca;
                font-weight: bold;
            }
        }

        .p-wrapper {
            display: block;
            position: absolute;
            bottom: 0;
            @include mq(tablet) {
                bottom: 10vh;
            }
        }
    }
}

.tick {
    @include fs-textSans(2);
    text {
        transform: translateY(2px);
    }

    &:first-of-type {
        @include mq($until: tablet) {
            text {
                text-anchor: start;
                transform: translate(-4px, 2px);
            }
        }
    }
}

#hidden-svg {
    display: none;
}

.interactive-chart-2 {
    @include mq(tablet) {
        width: 620px;
        margin-bottom: 24px;
    }
    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }

    svg {
        // position: -webkit-sticky;
        // position: sticky;
        top: 0;
        overflow: visible; // height: 100vh;
        .country-label {
            fill: #333;
            @include fs-textSans(2);
        }

        .y-axis {
            .domain {
                display: none;
            }

            .tick line {
                stroke: #dcdcdc;
                stroke-dasharray: 1, 1;
            }
        }
    }

    .year-label {
        @include fs-textSans(1);
        color: #767676;
    }
}

.insured-label {
    @include fs-textSans(4);
    font-size: 18px;
    fill: #fff;
    text-anchor: middle;
    font-weight: 400;
}


//hack the app
.article--standard {
    overflow: visible;
}


.pulsing {
    fill: #69d1ca;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.75;
        r: 0px;
    }
    100% {
        r: 15px;
        opacity: 0;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: 0.75;
        r: 0px;
    }
    100% {
        r: 15px;
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.75;
        r: 0px;
    }
    100% {
        r: 15px;
        opacity: 0;
    }
}

h3.table-heading {
    @include fs-header(2);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 12px;

    @include mq(tablet) {
        width: 620px;
    }
    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }
}

// table styling
.interactive-table {
    margin-top: 6px;

    width: 100%;
    overflow: hidden;
    padding-bottom: 4px;
    margin-bottom: 6px;

    @include mq(tablet) {
        width: 620px;
        display: flex;
        background-color: #fff; // margin: 0;
    }
    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }
}

.table-cell {
    @include fs-textSans(4);
    border-top: 1px solid #69d1ca;
    padding-top: 2px;
    background-color: #f6f6f6;
    padding-bottom: 12px;
    box-sizing: border-box;

    &:first-of-type {
        padding-left: 5px;
    }

    &:last-of-type {
        padding-right: 5px; //
        border-right: 0;
    }

    @include mq(tablet) {
        width: 45%;
        width: calc(50% - 5px);
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px; // border-right: 1px solid #eaeaea;
        box-sizing: border-box; // border-right: 1px solid #eaeaea;
    }

    @include mq($until: tablet) {
        padding: 0 5px 6px !important;

        &:first-of-type {
            padding-bottom: 2px !important;
            margin-bottom: 6px;
        }
    }
}